.log-in {
  /* background-color: #ffffff; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.log-in .div {
  background-color: var(--bg);
  width: 1440px;
  height: 1561px;
  top: 30px;
  position: relative;
}

.log-in .img {
  position: relative;
  width: 24px;
  height: 24px;
}

.log-in .frame-7 {
  display: inline-flex;
  align-items: center;
  gap: 129px;
  position: absolute;
  top: 20px;
  left: 0;
}

.log-in .side-image {
  position: relative;
  width: 805px;
  height: 781px;
  background-color: #cbe4e8;
  border-radius: 0px 4px 4px 0px;
  overflow: hidden;
}

.log-in .dl-beatsnoop {
  position: absolute;
  width: 805px;
  height: 706px;
  top: 75px;
  left: 0;
}

.log-in .frame-8 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  position: relative;
  flex: 0 0 auto;
}

.log-in .frame-9 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
  position: relative;
  flex: 0 0 auto;
}

.log-in .frame-10 {
  gap: 24px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.log-in .text-wrapper-6 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--heading-36px-medium-font-family);
  font-weight: var(--heading-36px-medium-font-weight);
  color: var(--text-2);
  font-size: var(--heading-36px-medium-font-size);
  letter-spacing: var(--heading-36px-medium-letter-spacing);
  line-height: var(--heading-36px-medium-line-height);
  white-space: nowrap;
  font-style: var(--heading-36px-medium-font-style);
}

.log-in .text-wrapper-7 {
  position: relative;
  width: fit-content;
  font-family: var(--title-16px-regular-font-family);
  font-weight: var(--title-16px-regular-font-weight);
  color: var(--text-2);
  font-size: var(--title-16px-regular-font-size);
  letter-spacing: var(--title-16px-regular-letter-spacing);
  line-height: var(--title-16px-regular-line-height);
  white-space: nowrap;
  font-style: var(--title-16px-regular-font-style);
}

.log-in .frame-11 {
  gap: 8px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.log-in .text-wrapper-8 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  opacity: 0.4;
  font-family: var(--title-16px-regular-font-family);
  font-weight: var(--title-16px-regular-font-weight);
  color: var(--text-2);
  font-size: var(--title-16px-regular-font-size);
  letter-spacing: var(--title-16px-regular-letter-spacing);
  line-height: var(--title-16px-regular-line-height);
  white-space: nowrap;
  font-style: var(--title-16px-regular-font-style);
  border: none;
}

.log-in .under-line {
  position: relative;
  width: 370px;
  height: 1px;
  opacity: 0.5;
  background-image: url("/under-line.png");
  background-size: cover;
  background-position: 50% 50%;
}

.log-in .under-line-2 {
  position: relative;
  width: 370px;
  height: 1px;
  opacity: 0.5;
  background-image: url("/under-line.png");
  background-size: cover;
  background-position: 50% 50%;
}

.log-in .frame-12 {
  display: inline-flex;
  align-items: center;
  gap: 87px;
  position: relative;
  flex: 0 0 auto;
}

.log-in .frame-13 {
  gap: 16px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.log-in .button {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 16px 48px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--button-2);
  border-radius: 4px;
}

.log-in .view-all-products {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--title-16px-medium-font-family);
  font-weight: var(--title-16px-medium-font-weight);
  color: var(--text);
  font-size: var(--title-16px-medium-font-size);
  letter-spacing: var(--title-16px-medium-letter-spacing);
  line-height: var(--title-16px-medium-line-height);
  white-space: nowrap;
  font-style: var(--title-16px-medium-font-style);
}

.log-in .text-wrapper-9 {
  position: relative;
  width: fit-content;
  font-family: var(--title-16px-regular-font-family);
  font-weight: var(--title-16px-regular-font-weight);
  color: var(--secondary-2);
  font-size: var(--title-16px-regular-font-size);
  letter-spacing: var(--title-16px-regular-letter-spacing);
  line-height: var(--title-16px-regular-line-height);
  white-space: nowrap;
  font-style: var(--title-16px-regular-font-style);
}
