.frame {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  margin-left: 40px; /* 왼쪽 여백 */
  margin-top: 40px; /* 위쪽 여백 */
}

.frame .div {
  gap: 35px;
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.frame .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--title-16px-regular-font-family);
  font-weight: var(--title-16px-regular-font-weight);
  color: var(--text-2);
  font-size: var(--title-16px-regular-font-size);
  text-align: center;
  letter-spacing: var(--title-16px-regular-letter-spacing);
  line-height: var(--title-16px-regular-line-height);
  white-space: nowrap;
  font-style: var(--title-16px-regular-font-style);
}

.frame .drop-down {
  position: relative;
  width: 24px;
  height: 24px;
}

.frame .div-2 {
  gap: 40px;
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.frame .text-wrapper-2 {
  position: relative;
  width: fit-content;
  font-family: var(--title-16px-regular-font-family);
  font-weight: var(--title-16px-regular-font-weight);
  color: var(--text-2);
  font-size: var(--title-16px-regular-font-size);
  text-align: center;
  letter-spacing: var(--title-16px-regular-letter-spacing);
  line-height: var(--title-16px-regular-line-height);
  white-space: nowrap;
  font-style: var(--title-16px-regular-font-style);
}

.box {
  position: absolute;
  top: -35px;
  right: -15px;
  width: 1px; /* 라인의 두께 */
  height: 384px;
  background-color: #ddd; /* 연한 회색 라인 */
}
